__pycache__
**/.DS_Store
**/*.pyc
*.egg-info
.env
.venv
.ropeproject
.cache
*.ipynb
.ipynb_checkpoints
**/*.so
**/*.o
**/*.cpp
__pyphi_cache__
pyphi.log
build
dist
profiling
raw_results
compiled_results
output*
data
tasks
notebooks
*.json*
*.pkl*
*.sh
*.md
*.txt
*.py
!pyanimats/*.py
