# Direct dependencies
# ~~~~~~~~~~~~~~~~~~~
Cython==0.23.4
deap==1.0.1
docopt==0.6.2
numpy==1.10.4
pyemd==0.2.0
pytest==2.8.7
PyYAML==3.11
scikit-learn==0.17
semantic-version==2.4.2
munch==2.0.4
# Specific pyphi commit
git+https://github.com/wmayner/pyphi.git@96c201c#egg=pyphi
#
# Nested dependencies
# ~~~~~~~~~~~~~~~~~~~
joblib==0.9.4
marbl-python==2.0.3
msgpack-python==0.4.7
psutil==2.2.1
pymongo==2.9.1
